//navigation tab
.navigation-tab,
.product.data.items {
    .lib-data-tabs(@_tab-control-font-family: @font-roboto-bold,
        @_tab-control-font-size: @font-size13,
        @_tab-control-font-weight: @font-weight-700,
        @_tab-control-line-height: @size-20px,
        @_tab-control-background-color: @color-f9,
        @_tab-control-color-active: @color-2d
    );

    .item.content {
        .lib-css(border, @size-1px solid @color-d1);
    }
    .item.title{
        margin:0 -1px 0 0px;
        .switch{
            padding: 5px 25px 5px 25px;
        }
    }

}
