
@boder-size-1: 1px;
@boder-size-2: 2px;

@font-size-13: 13px;
@font-size-15: 15px;
@font-size-32: 32px;
@font-size-200: 200px;

@line-height-20: 20px;
@line-height-34: 34px;


@size-36: 36px;
@size-40: 40px;
@size-140: 140px;
@size-180: 180px;
@size-200: 200px;
@size-230: 230px;

@color-green-default: #59b827;
@color-green-standard: #53ac21;
@color-grey-default: #3b3b3e;
@color-white-active: #f8f8f8;
@color-white-a9: #a9a9a9;
@color-ddd: #ddd;
@color-333: #333;
@color-red: #ea1913;
@color-succsess: #0303ec;


@color-grey-ccc: #ccc;
@color-black-222: #222222;
@color-icon: #555;
@color-f9: #f9f9f9;
@color-2d: #2d2d2d;
@color-d1: #d1d1d1;
@size-32: 32px;
@size-30: 30px;
@size-26: 26px;
@size-24: 24px;
@size-22: 22px;
@size-20: 20px;
@size-18: 18px;
@size-15: 15px;
@size-12: 12px;
@size-13: 13px;
@size-1: 1px;
@size-2: 2px;
@h-line-height: 42px;
@h2--30-line-hight: 30px;
@p-line-height: 20px;

@font-family-name__roboto: 'Roboto';
@font-family__roboto: @font-family-name__roboto, @font-family__sans-serif;

@font-family-name__lora: 'Lora';
@font-family__lora: @font-family-name__lora, @font-family__sans-serif;

@font-family-name__market: 'Market OT';
@font-family__market: @font-family-name__market, @font-family__sans-serif;


@font-weight-700: 700;

@message-success__background: @color-white;
@message-success__color: #68c524;
@message-success__border-color: #68c524;
@message-success-icon: hidden;



@message-error__color:  #ee1414;
@message-error__background: @color-white;
@message-error__border-color: #ee1414;
@message-error-icon: hidden;
