//color

@color-grey-ccc: #ccc;
@color-black-222: #222222;
@color-icon: #555;
@color-black-3b3: #3b3b3e;
@size-32: 32px;
@size-30: 30px;
@size-24: 24px;
@size-18: 18px;
@size-15: 15px;
@size-13: 13px;
@size-1: 1px;
@h-line-height: 42px;
@h2--30-line-hight: 30px;
@p-line-height: 20px;

@font-family-name__roboto: 'Roboto';
@font-family__roboto: @font-family-name__roboto, @font-family__sans-serif;

@font-family-name__lora: 'Lora';
@font-family__lora: @font-family-name__lora, @font-family__sans-serif;


//message successs
@message-success__background: @color-white;
@message-success__color: #68c524;
@message-success__border-color: #68c524;
@message-success-icon: hidden;


//message error
@message-error__color:  #ee1414;
@message-error__background: @color-white;
@message-error__border-color: #ee1414;
@message-error-icon: hidden;
