//color

@color-grey-ccc: #ccc;
@color-black-222: #222222;
@color-green-message:#68c524;
@color-red-message: #ee1414;
@size-32: 32px;
@size-30: 30px;
@size-24: 24px;
@size-18: 18px;
@size-15: 15px;
@size-13: 13px;
@size-1: 1px;
@h-line-height: 42px;
@h2--30-line-hight: 30px;
@p-line-height: 20px;
@font-family-name__roboto: 'Roboto';
@font-family__roboto: @font-family-name__roboto, @font-family__sans-serif;

@font-family-name__lora: 'Lora';
@font-family__lora: @font-family-name__lora, @font-family__sans-serif;



