
.icon-next {
    .lib-icon-font(
        @_icon-font-content: @icon-next,
        @_icon-font-size: 24px,
        @_icon-font-position: after
    );
}
& when (@media-common =true) {
    .row {
        /*.lib-css(margin, 0);*/
        .lib-css(display, flex);
        .lib-css(width, 100%);

        .col {
            /*.lib-css(margin, 10px);*/
            .lib-css(position, relative);
            .lib-css(width, 100%);

            & img{
                .lib-css(width, 100%);
            }
            .col-content {
                .lib-css(text-align, center);
                .lib-css(position, absolute);
                .lib-css(top, 72.5%);
                .lib-css(left, 50%);
                .lib-css(width, 100%);
                .lib-css(transform, translate(-50%, -50%));
                .lib-css(text-transform, uppercase);

                a {
                    .lib-css(text-decoration, none);
                    .lib-css(font-family, @font-family__roboto);
                    .lib-css(font-weight, 700);
                    .lib-css(color, @color-white);
                    .lib-css(background, @color-grey-default);
                    .lib-css(border, @size-2 solid  @color-white);
                    .lib-css(padding, @size-12);
                }

                a:hover {
                    .lib-css(background, #262628);

                }
            }

            & p{
                &:first-child{
                    .lib-css(position, absolute);
                    .lib-css(top, 39.6%);
                    .lib-css(left, 49.1%);
                    .lib-css(width, 100%);
                    .lib-css(transform, translate(-50%, -50%));
                    .lib-css(text-align, center);
                    .lib-css(color, @color-white);
                    .lib-css(font-family, @font-family__market);
                    .lib-css(font-size, @font-size-200);
                    .lib-css(line-height, @h-line-height)
                }

                &:last-child{
                    .lib-css(position, absolute);
                    .lib-css(top, 40%);
                    .lib-css(left, 49.1%);
                    .lib-css(width, 100%);
                    .lib-css(transform, translate(-50%, -50%));
                    .lib-css(text-align, center);
                    .lib-css(color, @color-white);
                    .lib-css(font-size, @size-32);
                    .lib-css(font-family, @font-family__lora);
                    .lib-css(font-weight, 400);
                    .lib-css(line-height, @line-height-34)
                }

            }
        }
    }

}
