
& when (@media-common = true) {
    .page-title {
        .lib-css(font-family, @font-family-name__lora);
        .lib-css(font-size, @size-22);
        .lib-css(font-weight, 400);
        .lib-css(color, #222);
        .lib-css(line-height, @size-26);
        .lib-css(letter-spacing, -1px);
    }

    .product-info-price {
        .price-label {
            display: none;
        }

        .reviews-actions {
            font-size: 14px;
            line-height: 20px;
            color: #777777;
            font-weight: 400;
            font-style: italic;
            font-family: "Roboto";
        }

        .price {
            font-size: 22px;
            line-height: 18px;
            color: #666666;
            font-weight: 400;
            font-family: "Roboto";
        }
    }

    .product.info.detailed {
        display: none;
    }
    
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xxs) {
    .page-title {
        color: red;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) {
    .page-title {
        color: blue;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-title {
        color: rgb(216, 0, 133);
    }

    .product.info.detailed {
        display: block;
    }

    .product-details{
        display: none;
    }

    .readmore {
        &__img,
        &__content {
            float: left;
            width: 50%;
        }
        
        &__img {
            
        }

        &__content {
            text-align: center;
        }
    }

}

