& when (@media-common = true) {
    .products {
        margin: 20px 0 0;
        
       
    }
    
    .product-item-wrapper {
        .product-item-info {
            position: relative;
            width: 280px;
            .pre-order-label {
                .lib-css(font-family, @font-family__roboto);
                .lib-css(font-weight, @font-weight-700);
                font-size: 13px;
                letter-spacing: 1px;
                line-height: 20px;
                background-color: #114997;
                padding: 6px 10px;
                width: 100px;//33%;
                position: absolute;
                top: 0%;
                color: #fff;
                text-transform: uppercase;
                z-index: 2;
            }
            .sale-label {
                .lib-css(font-family, @font-family__roboto);
                .lib-css(font-weight, @font-weight-700);
                font-size: 13px;
                letter-spacing: 1px;
                line-height: 20px;
                background-color: #d30000;
                padding: 7px 10px;
                width: 16%;
                position: absolute;
                top: 0%;
                color: #fff;
                text-transform: uppercase;
                
            }
            .additional_attr {
                height: 49px;
                img{
                    &::after {
                        content: '';
                    }
                }
                p {
                    font-size: 11px;
                    letter-spacing: 1px;
                    line-height: 24px;
                    text-transform: uppercase;
                }
            }

            .product-item-details {
                .product-item-name {
                    a {
                        font-weight: 700;
                        line-height: 18px;
                        color: #222;

                    }
                }

                
            }

            
        }
        
    }

        
                    
    
    .price-box {
        .price-wrapper .price {
        .lib-css(font-family, @font-family__roboto);
        font-weight: 400;
        line-height: 18px;
        font-size: 20px;
        color: #666;
        }
        .special-price {
            .price-label {
                display: none;
                
            }

            .price-wrapper {
                float: right;
                .price  {
                    color: red;
                }
            }

            
        }

        .old-price {
            .price-label {
                display: none;
                
            }
        }
    }
    
        

    .product-item-inner {
        .product-item-actions {
            .actions-secondary {
                display: none;
            }

            .actions-primary {
                .standard-button {
                    .lib-css(font-family, @font-family__roboto);
                    line-height: 20px;
                    color: #2d2d2f;
                    width: auto;
                    padding: 7px 17px;
                }
                
            }
        }
    }
    

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .page-products.products-grid .product-item  {
        width: 25%;
        &:nth-child(4n) {
            margin-right: 0px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .page-products.page-layout-1column .products-grid .product-item  {
        width: 25%;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-products.page-layout-1column .products-grid .product-item  {
        width: 32%;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .product-item-wrapper {
        .product-item-info {
            .pre-order-label {
                width: 78px;
            }
        }
    }
}